<nav
  class="border-gray-200 bg-gray-50 dark:bg-gray-800 dark:border-gray-700 h-[72px]"
>
  <div
    class="w-full flex flex-wrap items-center justify-between mx-auto p-4 relative bg-gray-100"
    style="box-shadow: -1px -3px 5px 3px black"
  >
    <a routerLink="/" class="flex">
      <img
        src="../../../assets/img/drako-logo.jpg"
        class="h-8 mr-3"
        alt="Drako Logo"
      />
      <span
        class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white"
        >Drako App</span
      >
    </a>

    <nav class="dark:bg-gray-700 hidden sm:!block">
      <div class="max-w-screen-xl px-4 py-3 mx-auto">
        <div class="flex items-center">
          <ul class="flex flex-row font-medium mt-0 mr-6 space-x-8 text-sm">
            <li>
              <a
                [routerLink]="routes.items"
                routerLinkActive
                #rla_m="routerLinkActive"
                [class]="
                  rla_m.isActive
                    ? 'text-blue-700'
                    : 'text-gray-900 dark:text-white hover:underline'
                "
              >
                Items
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="sm:hidden">
      <button
        (click)="ToogleMenu()"
        data-collapse-toggle="navbar-hamburger"
        type="button"
        class="inline-flex items-center p-2 ml-3 text-sm text-gray-500 rounded-lg hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
        aria-controls="navbar-hamburger"
        aria-expanded="false"
      >
        <span class="sr-only">Open main menu</span>
        <svg
          class="w-6 h-6"
          aria-hidden="true"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
            clip-rule="evenodd"
          ></path>
        </svg>
      </button>
    </div>
  </div>
</nav>

<div
  *ngIf="showMenu"
  class="fixed w-auto p-3 right-4 rounded bg-gray-100"
  style="box-shadow: 1px 3px 6px 0px grey"
>
  <div class="absolut" id="navbar-hamburger">
    <ul
      (click)="ToogleMenu()"
      class="flex flex-col gap-1 font-medium rounded-lg w-max"
    >
      <li>
        <a
          [routerLink]="routes.items"
          routerLinkActive
          #rla="routerLinkActive"
          [class]="rla.isActive ? routeActiveClass : routeNoactiveClass"
        >
          Items
        </a>
      </li>
    </ul>
  </div>
</div>
